body, html {
    background-color: #555555;
    color: #F5F5F5;
}

.content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-content {
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 40%;
    right: 40%;
    background: url('images/wheel.jpg') no-repeat center;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
}

.start {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-opacity:.20; 
    -moz-opacity:.20; 
    -o-opacity:.20; 
    opacity:.20;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}

.animation-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden {
    display: none;
}


/**
 * CSS for Player Controls
 */

.big {
    height: 80px;
    width: 400px;
    background: rgb(200, 54, 54);
    background: rgba(200, 54, 54, 0.5); 
    margin: 24px auto 0 auto;
    text-align: center;
    border: 1px solid #3e3e3e;
    position: absolute;
    bottom: 6px;
    right: 6px;
}

.mini {
    width: 100px;
    height: 120px;
    background: rgb(200, 54, 54);
    background: rgba(200, 54, 54, 0.5); 
    border: 1px solid #3e3e3e;
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.toggle-button {
    margin-left: 8px;
    margin-right: 8px;
}

.pause {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 48px;
    border-color: transparent transparent transparent #3e3e3e;
    margin-top: 16px;
}

.play {
    display: inline-block;
    width: 10px;
    height: 48px;
    border-right: 14px solid #3e3e3e;
    border-left: 14px solid #3e3e3e;
    margin-top: 16px;
}

.volume {
    background: url('images/volume.png') no-repeat center;
    height: 48px;
    width: 48px;
    margin-left: 32px;
    display: inline-block;
}

.small {
    margin: 6px 3px -4px 3px;
}

.volume-container {
    display: inline-block;
}

.volume-button {
    width: 0;
    height: 0;
    border-style: solid;
}

.volume-up {
    border-width: 0 12px 24px 12px;
    margin-bottom: 6px;
    border-color: transparent transparent #3e3e3e transparent;
}

.volume-down {
    border-width: 24px 12px 0 12px;
    border-color: #3e3e3e transparent transparent transparent;
}

.controls-final {
    bottom: 25%;
    left: 0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease-out;  
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.play-again {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 48px;
    border-color: transparent transparent transparent #3e3e3e;
    margin-top: 16px;
}


/**
 * CSS for Trumpets
 */

.trumpets {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/**
 * CSS for Welcome Message
 */

.welcome {
    margin-top: 300px;
    font-size: 48px;
    text-align: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.change-colour {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    color: rgb(200, 54, 54);
}

.rotate {
    background-color: #F1F1F1;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}

.move-to-right {
    -webkit-opacity:.20; 
    -moz-opacity:.20; 
    -o-opacity:.20; 
    -ms-filter:"alpha(opacity=20)";
    filter:alpha(opacity=20);
    opacity:.20;
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}



/**
 * CSS for Video Player
 */

.video-player{
    position: absolute;
    left: 32%;
    top: 25%;
}

/**
 * CSS for Ending Message
 */

.finish-message {
    position: absolute;
    left: 40%;
    font-size: xx-large;
}

.final-position {
    position: relative;
    margin-top: 265px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease-out;  
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}