body, html {
    background-color: #555555;
    color: #F5F5F5;
}

.content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-content {
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 40%;
    right: 40%;
    background: url('images/wheel.jpg') no-repeat center;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
}

.start {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-opacity:.20; 
    -moz-opacity:.20; 
    -o-opacity:.20; 
    opacity:.20;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}

.animation-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden {
    display: none;
}


/**
 * CSS for Player Controls
 */

.controls {
    z-index: 10;
    background: rgb(200, 54, 54);
    background: rgba(200, 54, 54, 0.5);
    border: 1px solid #3e3e3e;
    height: 80px; 
    margin: 24px auto 0 auto;
    text-align: center;
    position: absolute;
    display: inline-block;
}

.big {
    width: 30%;
    min-width: 200px;
    left: 35%;
    right: 35%;
    bottom: 25%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease-out;  
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.mini {
    width: 13%;
    right: 6px;
    bottom: 6px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease-out;  
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.toggle-button {
    margin-left: 8px;
    margin-right: 8px;
}

.pause {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 48px;
    border-color: transparent transparent transparent #3e3e3e;
    margin-top: 16px;
}

.play {
    width: 10px;
    height: 48px;
    border-right: 14px solid #3e3e3e;
    border-left: 14px solid #3e3e3e;
    margin-top: 16px;
}

.volume {
    background: url('images/volume.png') no-repeat center;
    height: 48px;
    width: 48px;
    margin-left: 32px;
    display: inline-block;
}

.small {
    margin: 12px 6px -4px 6px;
    float: left;
}

.volume-container {
    display: inline-block;
}

.volume-button {
    width: 0;
    height: 0;
    border-style: solid;
}

.volume-up {
    border-width: 0 12px 24px 12px;
    margin-bottom: 6px;
    border-color: transparent transparent #3e3e3e transparent;
}

.volume-down {
    border-width: 24px 12px 0 12px;
    border-color: #3e3e3e transparent transparent transparent;
}

.play-again {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 48px;
    border-color: transparent transparent transparent #3e3e3e;
    margin-top: 16px;
}


/**
 * CSS for Trumpets
 */

.trumpets {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/**
 * CSS for Welcome Message
 */

.welcome {
    margin-top: 300px;
    font-size: 48px;
    text-align: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.change-colour {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    color: rgb(200, 54, 54);
}

.rotate {
    background-color: #F1F1F1;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}

.move-to-right {
    -webkit-opacity:.20; 
    -moz-opacity:.20; 
    -o-opacity:.20; 
    -ms-filter:"alpha(opacity=20)";
    filter:alpha(opacity=20);
    opacity:.20;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
}



/**
 * CSS for Video Player
 */

.video-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.video-bg {
    width: 1%; 
    height: 1%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    text-align: center;
    margin: 16% auto 0 auto;
    -webkit-border-radius: 1px; 
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}

.video-bg.circle {
    width: 46%; 
    height: 46%; 
    -webkit-border-radius: 23%; 
    -moz-border-radius: 23%;
    -ms-border-radius: 23%;
    -o-border-radius: 23%;
    border-radius: 23%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease-out;  
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.video-bg.rectangle {
    width: 46%;
    height: 45.5%;
    -webkit-border-radius: 20px; 
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease-out;  
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}


/**
 * CSS for Equalizer
 */

.equalizer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}


/**
 * CSS for Photobooth
 */

.photobooth {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom {
    width: 33%;
    height: 35%;
    bottom: 0;
    position: absolute;
}

.bottom-middle {
    left: -33%;
    width: 34%;
    background: url('images/girl.jpg') no-repeat center;
}

.bottom-middle-in {
    left: 33%;
    right: 33%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s;   
    -o-transition: all 0.5s ease-out;  
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.bottom-left {
    left: -33%;
    background: url('images/lion.jpg') no-repeat center;
}

.bottom-left-in {
    left: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s;   
    -o-transition: all 0.5s ease-out;  
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.bottom-right {
    right: -33%;
    background: url('images/boy.jpg') no-repeat center;
}

.bottom-right-in {
    right: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s;   
    -o-transition: all 0.5s ease-out;  
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.centre {
    width: 30%;
    height: 35%;
    position: absolute;
}

.centre-left {
    top: -30%;
    background: url('images/sea.jpg') no-repeat center;
}

.centre-left-in {
    top: 30%;
    left: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s;   
    -o-transition: all 0.5s ease-out;  
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.centre-right {
    top: -33%;
    background: url('images/bandstand.jpg') no-repeat center;
}

.centre-right-in {
    top: 30%;
    right: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s;   
    -o-transition: all 0.5s ease-out;  
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.top {
    width: 33%;
    height: 30%;
    position: absolute;
    top: 0;
}

.top-left {
    left: -33%;
    background: url('images/drag.jpg') no-repeat center;
}

.top-left-in {
    left: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s;   
    -o-transition: all 0.5s ease-out;  
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.top-middle {
    top: -33%;
    width: 34%;
    background: url('images/graffiti.jpg') no-repeat center;
}

.top-middle-in {
    top: 0;
    left: 33%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s;   
    -o-transition: all 0.5s ease-out;  
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.top-right {
    right: -33%;
    background: url('images/girls.jpg') no-repeat center;
}

.top-right-in {
    right: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s;   
    -o-transition: all 0.5s ease-out;  
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/**
 * CSS for Ending Message
 */

.finish-message {
    position: absolute;
    left: 35%;
    right: 35%;
    width: 30%;
    font-size: xx-large;
    text-align: center;
}

.final-position {
    position: relative;
    margin-top: 265px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s;   
    -o-transition: all 1s ease-out;  
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.disappear {
    -webkit-opacity:0; 
    -moz-opacity:0; 
    -o-opacity:0; 
    -ms-filter:"alpha(opacity=0)";
    filter:alpha(opacity=0);
    opacity:0;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;   
    -o-transition: all 3s;  
    -ms-transition: all 3s;
    transition: all 3s;
}